<div class="container-fluid">
    <div class="row">
        <div class="col">
    <table class="table" style="width: 1300px;">

<thead>
      <tr>
        <th scope="col" style="padding-right: 170px;">#ID</th>
        <th scope="col">Name</th>
        <th scope="col">Color</th>
        <th scope="col">Brand</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
  

</table>

</div>

<app-data *ngFor = "let data of dataLists; let i = index"
[data]="data"
[index]="i"
></app-data>
<br><br>

</div>
</div>
