<div class="container-fluid">
  <div class="row">
      <div class="col">
  <table class="table" style="width: 1300px;">
        
    <tbody>
      <tr scope="row">
        <td>{{ data?.id }}</td>
        <td scope="col" style="padding-left: 50px;">{{ data?.name }}</td>
        <td scope="col" style="padding-left: 35px;">{{ data?.brand }}</td>
        <td scope="col" style="padding-left: 30px;">{{ data?.color }}</td>
        <td scope="col" style="padding-left: 40px;">{{ data?.price }}</td>
        <td><img class="img-responsive" src="{{ data?.image }}" width="100px" height="80px"></td>
        <!-- status color indicator -->
        <td scope="col" *ngIf="data?.status=='Out of Stock'" ><span class="red">{{data?.status}}</span></td>
        <td scope="col" *ngIf="data?.status=='Soon'" ><span class="yello">{{data?.status}}</span></td>
        <td scope="col" *ngIf="data?.status=='Available'" ><span class="green">{{data?.status}}</span></td>

        <td scope="col"><button class="btn btn-primary" (click)="onEdit()">Edit</button> | <button class="btn btn-danger" (click)="deleting()">Delete</button></td>
      </tr>
     
    </tbody>
  </table>

</div>
</div>
</div>